<div class="card">
  <div class="form-container">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="topic">Select Topic:</label>
        <select id="topic" formControlName="topic">
          <option *ngFor="let topic of topics" [value]="topic">{{ topic }}</option>
        </select>
        <div class="text-danger"
          *ngIf="commentForm.get('topic')!.invalid && (commentForm.get('topic')!.dirty || commentForm.get('topic')!.touched)">
          <div *ngIf="commentForm.get('topic')!.errors?.['required']">Topic is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea type="text" id="comment" formControlName="comment"></textarea>
        <div class="text-danger"
          *ngIf="commentForm.get('comment')!.invalid && (commentForm.get('comment')!.dirty || commentForm.get('comment')!.touched)">
          <div *ngIf="commentForm.get('comment')!.errors?.['required']">Comment is required.</div>
          <div *ngIf="commentForm.get('comment')!.errors?.['minlength']">Comment must be at least 3 characters long.</div>
          <div *ngIf="commentForm.get('comment')!.errors?.['maxlength']">Comment cannot exceed 255 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="commentForm.invalid">Save</button>
      </div>
    </form>
    <div *ngIf="!isOnline" class="alert">
      You are offline. Comments will be saved when you are back online.
    </div>
  </div>

  <div *ngIf="selectedTopic" class="comments-container">
    <h3>Comments for {{ selectedTopic }}</h3>
    <ul class="list-group">
      <li *ngFor="let comment of comments" class="list-group-item">
        <strong>{{ comment.author }}</strong>: {{ comment.comment }} <em>({{ comment.date | date:'short' }})</em>
      </li>
    </ul>
  </div>
</div>
